name: add files to release
on:
  workflow_dispatch:
    inputs:
      release:
        description: 'release tag'
        required: true
        default: 'v.1.0.0'
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: python-latest
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip3 install -r requirements.txt
      - name: use pyinstaller
        run: |
          pyinstaller Main.py --onefile -w --windowed --noconsole --add-data="GameWorlds"
      - name: commit packages
        uses: EndBug/add-and-commit@v7
        with:     
          default_author: github_actions
          committer_name: GitHub Actions
          committer_email: actions@github.com
      - name: upload to release
        uses: AButler/upload-release-assets@v2.0
        with:
          files: 'dist/*'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          release-tag:  ${{ github.event.inputs.release }}
